<!-- 
event
performing
date/time
address
details
video
image
event info 
-->

<div *ngFor="let e of event">
    <h1>{{e.title}}</h1>
    <h3>{{e.performing}}</h3>
    <h3>{{e.eventDatetime}}</h3>
    <h3>{{e.contactInfo}}</h3>
    <h3>{{e.description}}</h3>
    <iframe width="907" height="510" src= {{e.videoURL}}  title={{e.title}} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <img src={{e.imgURL}} alt={{e.title}}>
    <h3>{{e.contactInfo}}</h3>
    <h4>{{e.favorite}}</h4>
    <input type="name">
    <button (click)="addFavorite(e.id)">Favorite</button>
    </div>


